<h1>Plantillas en Angular</h1>


<p>Web: {{ web }}</p>



<a [href]="web" [class.existe]="redirigir" target="_blank">ir a la web</a>

<h2>estructura de control de flujo</h2>

@if (redirigir == true) {
<p>el enlace {{ web }} es correcto</p>
} @else {
<p>el enlace {{ web }} no va a funcionar</p>
}

<button (click)="cambioRedireccion()">Cambiar redirección</button>
<br>
<br>
<h3>MARCAS DE AUTOS</h3>

<ul>
  @for(marca of marcasAutos; track marca.id;
  let indice = $index, contador = $count,
  par = $even, impar = $odd){
  <li>{{ marca.nombre }}</li>
  }@empty {
  <li>No hay marcas de autos</li>
  }
</ul>

@switch (usuario.rol) {
@case ('admin') {
<p>El usuario {{ usuario.nombre }} es un administrador</p>
<app-ventas></app-ventas>
}
@case ('user') {
<p>El usuario {{ usuario.nombre }} es un usuario común</p>
}
@default {
<p>El usuario {{ usuario.nombre }} tiene un rol invitado</p>
}
}

<ng-container>
  <h1>Contenido dentro de un ng-container</h1>
</ng-container>

@let pais = 'Ecuador';

@let saludo = 'saludos desde' + pais;

//defer

<h2>TUBERIAS - PIPELINES</h2>

{{web | titlecase}}
<br>
{{web | lowercase}}
<br>
{{web | uppercase}}
<br>
{{web | slice: 0:5}}
<br>
{{ 6587 | currency:'USD': 'symbol':'1.2-2' }}