<hr>
<h1>Transacciones</h1>
<ul>
    @for(transaccion of transacciones; track transaccion.id){
      <li>{{transaccion.descripcion}} - {{transaccion.monto}} - {{transaccion.tipo}}</li>

    }
</ul>

<h1>Formulario y two way data binding</h1>

<input type="text" [(ngModel)]="descripcionTransaccion" placeholder="Escribe el título de tu película favorita">

<button (click)="showTransaccion()">Mostrar Transacción</button>


<p><strong>Descripción: {{ descripcionTransaccion }}</strong></p>

<hr>
<button (click)="enviarSaludo()">Enviar saludo al padre siendo transacciones</button>

