<h1>Directivas en Angular</h1>
<p>En Angular, las directivas son una parte fundamental para manipular el DOM
    y agregar comportamiento a los elementos HTML. Existen tres tipos principales de directivas: componentes, directivas
    estructurales y directivas de atributos.</p>

<h2 [ngClass]="mostrar == 'si' ? 'resaltar' : 'destacarMenos'">mensaje de NgClass</h2>

<h2 [ngStyle]="mostrar == 'si' ? {'background-color': 'green'} : {'background-color': 'red'}">mensaje de NgStyle</h2>


<h2 [ngStyle]= "misEstilos">mensaje de NgStyle</h2>