.resaltar{
    background-color: yellow;
    padding: 10px;
    font-weight: bold;
    font-style: italic;
    font-family: Courier;
}

.destacarMenos{
    background-color: lightblue;
    padding: 10px;
    font-family: Times New Roman;
}