<h1>PLANTILLA DE PRESTAMOS</h1>

<a [href]="web" 
[class.activo]="redirigir"
target="_blank">ir a la web</a>

<h2>estructura de control de flujo</h2>

@if (redirigir == true) {
  <p>el enlace {{ web }} es correcto</p>
} @else {
    <p>el enlace {{ web }} no va a funcionar</p>
}

<button [class.activo]="redirigir" (click)="cambioRedireccion()">Cambiar Redirección</button>

<br>
<br>

<ul>
  @for(prestamo of prestamosList; track prestamo.id;
  let indice = $index, contador = $count,
  par = $even, impar = $odd){
  <li [class.aprobado]="prestamo.estado === 'aprobado'" [class.pendiente]="prestamo.estado === 'pendiente'">
    {{ prestamo.monto }} - {{ prestamo.estado }}
  </li>
  }@empty {
  <li>No hay préstamos disponibles</li>
  }
</ul>