<hr>
<h1>{{ titulo }}</h1>

<p>
  Elige un color:
  <input type="color" [(ngModel)]="color">
</p>

<ul>
  @for(pelicula of peliculas; track pelicula.id; let indice = $index){
  <li>
    {{pelicula.titulo}} -
    <span [ngStyle]="{
      'background': color 
    }">
      {{pelicula.genero}}</span> - {{pelicula.director}}
      <button (click)="deletePelicula(indice)">Borrar Pelicula</button>
  </li>

  }
</ul>

TWO WAY DATA BINDING
<h1>Formulario y two way data binding</h1>

<input type="text" [(ngModel)]="miPelicula" placeholder="Escribe el título de tu película favorita"
                    (focus)="haciendoFoco()"
                    (blur)="saliendoDelFoco()"
                    (keyup)="pulsandoTeclas($event)"
>

<button (click)="showPelicula()">Mostrar Pelicula</button>

<button (click)="addPelicula()">Agregar Pelicula</button>

<p><strong>Mi pelicula es: {{ miPelicula }}</strong></p>

<h2>Listado de peliculas simples</h2>

<ul>
  @for(pelicula of peliculaSinDatos; track pelicula){
  <li>{{pelicula}}</li>

  }
</ul>